body {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    color:#585858;
}

body {
    min-height:100%; 
    position:relative; 
}

a {
    text-decoration: none;
    color:black;
}
a:active,
a:visited,
a:focus {
    color:black
}

.red_tag {
    background: #F44336;
    color: #fff;
    padding: 10px;
}


.footer { 
    position:relative; 
    left: 0 ; right: 0; bottom:-355px; 
    margin-top: auto;
    background-color: #343a40!important;
    width: 100%;
    padding: 20px;
    font-family:  'Josefin Sans', sans-serif;
}

.footer .footer-nav{
    padding: 10px;
    padding-top: 12px;
    color: white;
    font-size: 15px;
    font-family:  'Josefin Sans', sans-serif;
}

.headerHome{
    height: 80px;
    border-radius: 0%;
    background-color: #343a40;
    color: white;
}

.navbar{
    margin-bottom: 0px;
}

.headerHome .links .header-nav{
    padding: 10px;
    padding-top: 12px;
    color: white;
    font-size: 15px;
    font-family:  'Josefin Sans', sans-serif;
    float: right;
}


.headerHome .links .responsive-collapse .header-nav .nav-links, .headerHome .links .responsive-collapse .header-nav #collasible-nav-dropdown{
    font-size: 16px;
    color: white;
    padding: 10px;
    padding-top: 0px;
    margin-right: 0%;
}

.headerHome .links .responsive-collapse .header-nav .drop-items{
    font-size: 15px;
}

/*=============================
            ABOUT
===============================*/

.about_container{
    text-align: center;
    padding: 5%;
}

.about_container h3{
    font-size: 40px;
    margin-bottom: 30px;
}

.about_container h5{
    font-size: 20px;
    margin: 10px;
}

/*=============================
            HOME
===============================*/

.home_container{
    text-align: center;
}

.home_container img{
    width: 100%;
    height: 500px;
    margin: 0%;
}

.home_container h1{
    margin: 20px;
    font-size: 40px;
}

.home_container h2{
    margin: 20px;
    margin-top: 50px;
    font-size: 30px;
}

.home_container h3{
    font-size: 20px;
    margin-top: 60px;
    color: #353232;
}

.home_container .buttons{
    display: inline-block;
}

.home_container .btns{
    padding: 95px 95px;
    font-size: 44px;
    font-weight: 400;
    cursor: pointer;
    text-align:center;
    line-height: 10px;
    text-decoration: none;
    outline: none;
    color: #343a40;
    background-color: #fff;
    border-color: #343a40;
    border-style: solid;
    border-radius: 15px;
    margin: 20px;
}

  
.home_container .btns:hover {
    background-color: #343a40;
    color: #fff;
    border: none;
  
}
  
.home_container .btns:active {
    background-color: #343a40;
    color: #fff;
    border: none;
    transform: translateY(2px);
}

/*=============================
            REGISTER
===============================*/



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d8d8d8;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #d8d8d8;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #d8d8d8;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #d8d8d8;
  }

.form_container{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 20px;
    margin-top: 20px;
    width: 500px;
    margin-left: 33%;
    margin-top: 5%;
}

.form_container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.form_container .row{
    margin: 20px;
}

.form_container .label-form{
    font-size: 20px;
    color: #3c3c3c;
    font-weight: 10px;
    margin-bottom: 10PX;
}

.form_container button{
    margin-left: 30px;
    border-radius: 5px;
}

.form_container h1 {
    color: #343a40;
    font-size: 30px;
}

.form_container h4{
    margin-left: 25px;
    font-size: 20px;
}

.error_label {
    color: #ffffff;
    display: inline-block;
    background: #F44336;
    border-radius: 2px;
    padding: 5px;
    margin: 10px;
}

input[type=email], 
input[type=number], 
input[type=password], 
input[type=search], 
input[type=tel], input[type=text], 
input[type=url],
select, 
textarea {
    font-size: 16px;
    height: 55px;
}

/*=============================
            TEACHER
===============================*/

.class_register{
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 20px 20px;
    margin-top: 20px;
}

.class_register:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.dashboard_container {
    margin-top: 5%;
}

.dashboard_container h1{
    margin-bottom: 20px;
}

.invite_container{
    margin-top: 11%;
}

.teacher-dashboard{
    text-align: center;
}

.view-scheduler{
    margin-top: 5%;
}

.view-scheduler h1{
    margin-bottom: 20px;
}

.table_conatiner{
    padding: 50px;
    margin-bottom: 20%;
}

.table_conatiner .table{
    margin-top: 20px;
}

.table_conatiner .table Table{
    width: 1000px;
    font-size: 15px;
}
/*=============================
            STUDENT
===============================*/

.container .loader{
    position: fixed;
    left: 45%;
    top: 350%;
}

.class_book_container{
    margin-top: 3%;
}

.class_book_container h2{
    margin: 10px 10px 15px;
    font-size: 25px;
}

.class_book_container button{
    margin: 10px 10px 10px;
    border-radius: 5px;
    font-size: 15px;
}

.class_container{
    margin-top: 3%;
    margin-bottom: 210px;
}

.class_container h2{
    margin-bottom: 25px;
    font-size: 25px;
}

.link_classes_cards{
    flex: 1 0 21%; 
    margin: 5px;
    position: relative;
    display: inline-block;
    width:25%;
    text-decoration: none;
}

.link_classes_cards .classes_cards{
    padding: 20px;
    margin-bottom: 20px;
    color: black;
    font-weight: bolder;
    font-size: 108px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
}

.link_classes_cards .classes_cards:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.link_classes_cards .classes_cards .class-title{
    font-size: 20px;
    margin-top: 10px;
    text-decoration: none;
}

.transfer-text,
.transfer-text .link {
    text-align: right;
    font-size: 15px;
    padding-top: 10px;
    color: #7f7d7d;
    margin: 0;
}

.transfer-text .link {
    color: #02bcd4;
    text-decoration: underline;
}

/*=============================
            LOGOUT
===============================*/

.logout_container{
    margin-bottom: 210px;
}

.logout_container h1{
    color: #343a40;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    padding-top: 31px;
}

/*=============================
            LOADER
===============================*/


.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
    color: #ebebeb;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #ffffff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}





@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}